<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/luong.asm2/src/luong/asm2/domain/Menu.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="luong.asm2.domain.Menu"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="luong.asm2"/>
</launchConfiguration>
